<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="content-type" content="text/html;charset=UTF-8">
        <title>Replacer</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/replacer.css" rel="stylesheet">
        <link href="css/font-awesome.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
            WebFont.load({
                google: {
                    families: ['Ranga', 'Julius Sans One', 'Montserrat']
                }
            });
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
            <a class="navbar-brand p-0" href="index.html" target="_blank">
                <span></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item mx-1 dropdown active">
                        <a class="nav-link dropdown-toggle" id="templates-dropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Templates</a>
                        <div class="dropdown-menu" aria-labelledby="templates-dropdown">
                            <a class="dropdown-item" href="template-1.html">First</a>
                            <a class="dropdown-item" href="template-2.html">Second</a>
                            <a class="dropdown-item" href="template-3.html">Third</a>
                            <a class="dropdown-item" href="template-4.html">Fourth</a>
                            <a class="dropdown-item" href="template-5.html">Fifth</a>
                            <a class="dropdown-item" href="template-6.html">Sixth</a>
                            <a class="dropdown-item" href="template-7.html">Seventh</a>
                            <a class="dropdown-item" href="template-8.html">Eighth</a>
                            <a class="dropdown-item" href="template-9.html">Ninth</a>
                        </div>
                    </li>
                    <li class="nav-item mx-1 dropdown">
                        <a class="nav-link dropdown-toggle" id="pages-dropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                        <div class="dropdown-menu" aria-labelledby="pages-dropdown">
                            <a class="dropdown-item" href="page-about.html"> About</a>
                            <a class="dropdown-item" href="page-features.html"> Features</a>
                            <a class="dropdown-item" href="page-faq.html"> FAQ</a>
                            <a class="dropdown-item" href="page-login.html"> Login</a>
                            <a class="dropdown-item" href="page-register.html"> Register</a>
                            <a class="dropdown-item" href="page-404.html"> 404</a>
                            <a class="dropdown-item" href="page-soon.html"> Coming soon</a>
                            <a class="dropdown-item" href="page-blog.html"> Blog</a>
                            <a class="dropdown-item" href="page-blog-entry.html"> Blog entry</a>
                        </div>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="icons.html">Icons </a>
                    </li>
                    <li class="nav-item mx-1">
                        <a class="nav-link" href="documentation.html">Documentation</a>
                    </li>
                    <li class="nav-item ml-1 mr-3">
                        <a class="nav-link" href="mailto:hello@getreplacer.com">Support </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn mr-2 btn-light" id="buy-button" href="https://themes.getbootstrap.com/product/replacer-2/">Purchase</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="hero-1" style="background: linear-gradient(90deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/photo-31.jpg') center center; background-size: cover;" data-stellar-background-ratio="0.5">
            <div class="container d-flex flex-column text-white" style="min-height: 105vh;">
                <div class="row my-auto">
                    <div class="col-lg-10 col-md-8 col-sm-12 text-center mx-auto py-5 my-5">
                        <img class="mb-5" src="images/logo-mono-white.svg" height="72px">
                        <h1 class="display-3 font-weight-light mb-4 mx-5" style="font-family: 'Montserrat', sans-serif;">Clean and simple theme built on&nbsp;vanilla Bootstrap 4</h1>
                        <p class="lead mb-5">Replacer is a library of 9 amazing HTML templates and 8 web pages made without any third-party plugins</p>
                        <a class="btn btn-warning btn-lg mx-2" href="#">Connect now</a>
                        <a class="btn btn-light btn-lg mx-2" href="#">Learn more</a>
                        <p class="small mt-5" style="opacity: .5;">To spread the power of good design</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="clients-01">
            <div class="container">
                <div class="row py-0">
                    <div class="col-lg-12 col-md-12 mx-auto d-flex justify-content-between flex-column flex-lg-row flex-xl-row">
                        <a class="p-4 text-center" href="#">
                            <img src="images/vector-cnn.svg" height="32px" style="opacity: .5;">
                        </a>
                        <a class="p-4 text-center" href="#">
                            <img src="images/vector-airbnb.svg" height="32px" style="opacity: .5;">
                        </a>
                        <a class="p-4 text-center" href="#">
                            <img src="images/vector-cc.svg" height="32px" style="opacity: .5;">
                        </a>
                        <a class="p-4 text-center" href="#">
                            <img src="images/vector-cnbc.svg" height="32px" style="opacity: .5;">
                        </a>
                        <a class="p-4 text-center" href="#">
                            <img src="images/vector-time.svg" height="32px" style="opacity: .5;">
                        </a>
                        <a class="p-4 text-center" href="#">
                            <img src="images/vector-js.svg" height="32px" style="opacity: .5;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <hr class="m-0" style="opacity: 0.75;">
        </div>
        <div class="pb-5" id="content-07">
            <div class="container py-5 my-5">
                <div class="row mb-5">
                    <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-5">
                        <img class="mb-4" src="icons/dark/numbers-1.svg" height="64px">
                        <h3 class="h5 mb-2">Research process</h3>
                        <p class="text-secondary mx-4 mb-5 lead">To master Replacer you only need official BS4 documentation, no more</p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-5">
                        <img class="mb-4" src="icons/dark/numbers-2.svg" height="64px">
                        <h3 class="h5 mb-2">Design process</h3>
                        <p class="text-secondary mx-4 mb-5 lead">Super fast loading speed. Only pure Bootstrap 4, and no additional third-party plugins</p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 text-center pt-5">
                        <img class="mb-4" src="icons/dark/numbers-3.svg" height="64px">
                        <h3 class="h5 mb-2">Development</h3>
                        <p class="text-secondary mx-4 mb-5 lead">Modern design is a top priority. With Replacer anyone can create stunning websites</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <a class="btn text-secondary p-4" href="#">
                            <i class="fa fa-clone mr-2"></i>
                            <u>Learn more</u>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="features-03">
            <div class="container-fluid bg-light">
                <div class="row" style="min-height: 100vh;">
                    <div class="col-lg-4 col-md-8 col-sm-12 py-5 m-auto text-left">
                        <img class="mb-4" src="icons/dark/interface-62.svg" height="48px">
                        <h2 class="display-4 mb-3">Killer feature </h2>
                        <p class="mb-4 lead mr-5 text-secondary pr-5">Replacer is suitable for all kind of modern web projects: landing and product pages, blogs, portfolios, eCommerce, business and corporate websites, marketing and advertising campaigns</p>
                        <hr class="my-5">
                        <a class="btn-link text-secondary" href="#">
                            <i class="fa fa-cloud mr-2"></i>Connect</a>
                    </div>
                    <div class="col-lg-6 col-md-12" style="background: url('images/photo-37.jpg') bottom center no-repeat; background-size: cover; min-height: 100vh;"></div>
                </div>
            </div>
        </div>
        <div class="py-5" id="content-03">
            <div class="container py-5">
                <div class="row text-center pt-5 pb-3">
                    <div class="col-lg-10 col-md-12 col-sm-12 mx-auto">
                        <img class="mb-5" src="icons/dark/interface-9.svg" height="72px">
                        <h2 class="display-4 mb-4">Move faster and&nbsp;break Zucks!</h2>
                        <p class="lead text-secondary mb-5 pb-2 mx-5">Replacer is a library of 9 amazing HTML templates and 9 web pages made without any third-party plugins</p>
                        <a class="btn btn-warning btn-lg mr-2" href="#">Connect now</a>
                        <a class="btn btn-secondary btn-lg" href="#">About us</a>
                        <p class="pt-3">
                            <small>
                                <a class="btn-link text-secondary" href="#">
                                    <i class="fa fa-caret-right mr-2" aria-hidden="true"></i>Contact to us right now</a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5 bg-light" id="cards">
            <div class="container py-5">
                <div class="row mt-5">
                    <div class="col text-center">
                        <h2 class="display-4 mb-4">Our projects</h2>
                        <p class="mb-5 pb-3 lead text-secondary">Replacer is suitable for all kind of modern web projects</p>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-lg-12 m-auto">
                        <div class="card-group">
                            <div class="card rounded-0 mr-2">
                                <a href="#">
                                    <img class="card-img-top" src="images/photo-40.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body mx-3 mt-2">
                                    <a class="card-link" href="#">
                                        <h4 class="card-title font-weight-normal text-dark mb-4">Cactus project</h4>
                                    </a>
                                    <p class="card-text text-secondary">This is a wider card with supporting text below</p>
                                </div>
                                <div class="card-footer bg-white border-0 mx-3">
                                    <div class="d-flex">
                                        <img class="rounded-circle mr-2 p-0 border-light" src="images/photo-04.jpg" height="40">
                                        <div class="small">
                                            <a class="card-link text-dark m-0 p-0" href="#">Maria West</a>
                                            <p class="text-secondary m-0 p-0">Last updated 3 mins ago</p>
                                        </div>
                                    </div>
                                    <hr class="my-3 p-0">
                                    <small>
                                        <a class="card-link my-0 mx-0 px-0 text-secondary" href="#">
                                            <i class="fa fa-comment mr-2"></i>32 comments</a>
                                    </small>
                                </div>
                            </div>
                            <div class="card ml-2 rounded-0 border-left">
                                <a href="#">
                                    <img class="card-img-top" src="images/photo-41.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body mx-3 mt-2">
                                    <a class="card-link" href="#">
                                        <h4 class="card-title font-weight-normal text-dark mb-4">Metal work</h4>
                                    </a>
                                    <p class="card-text text-secondary">This is a wider card with supporting text below as a natural lorem ipsum dolor set amet ipsum dolor</p>
                                </div>
                                <div class="card-footer bg-white border-0 mx-3">
                                    <div class="d-flex">
                                        <img class="rounded-circle mr-2 p-0 border-light" src="images/photo-06.jpg" height="40">
                                        <div class="small">
                                            <a class="card-link text-dark m-0 p-0" href="#">Maria West</a>
                                            <p class="text-secondary m-0 p-0">Last updated 3 mins ago</p>
                                        </div>
                                    </div>
                                    <hr class="my-3 p-0">
                                    <small>
                                        <a class="card-link my-0 mx-0 px-0 text-secondary" href="#">
                                            <i class="fa fa-comment mr-2"></i>32 comments</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <a class="btn text-secondary p-3" href="#">
                            <i class="fa fa-clone mr-2"></i>
                            <u>Learn more</u>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="m-0">
        <div class="py-5" id="forms-01">
            <div class="container pt-5">
                <div class="row py-5 mt-5">
                    <div class="col-lg-12 col-md-12 col-sm-12 m-auto text-center">
                        <h2 class="display-4 mb-5 pb-2">Sign up now to get a discount</h2>
                        <form>
                            <div class="form-row mx-auto mb-5">
                                <div class="form-group col-lg-3 m-0">
                                    <input class="form-control form-control-lg bg-white mb-2 rounded-0" type="text" placeholder="Name">
                                </div>
                                <div class="form-group col-lg-3 m-0">
                                    <input class="form-control form-control-lg bg-white mb-2 rounded-0" type="text" placeholder="E-mail again">
                                </div>
                                <div class="form-group col-lg-3 m-0">
                                    <input class="form-control form-control-lg bg-white mb-2 rounded-0" type="text" placeholder="E-mail">
                                </div>
                                <div class="form-group col-lg-3 m-0">
                                    <button class="btn btn-lg btn-warning rounded-right mb-2 rounded-0 w-100" type="submit">Sign Up</button>
                                </div>
                            </div>
                        </form>
                        <p class="mb-2 lead text-secondary">Replacer is suitable for all kind of modern web projects</p>
                        <a class="btn text-secondary p-3" href="#">
                            <i class="fa fa-clone mr-2"></i>
                            <u>Learn more</u>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pb-1" id="footer-01">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-12 col-lg-6 text-center text-lg-left">
                        <ul class="list-inline my-4 my-0">
                            <li class="list-inline-item">
                                <a class="btn-link h3 text-secondary p-1" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-link h3 text-secondary p-1" href="#">
                                    <i class="fa fa-facebook-official"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-link h3 text-secondary p-1" href="#">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-link h3 text-secondary p-1" href="#">
                                    <i class="fa fa-behance-square"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-link h3 text-secondary p-1" href="#">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr class="mb-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 text-secondary text-center text-lg-left">
                        <p class="pb-2">&copy; 2017 &mdash; 2018, Replacer</p>
                    </div>
                    <div class="col-lg-6 col-md-12 text-center text-lg-right">
                        <ul class="list-inline pb-2">
                            <li class="list-inline-item">
                                <a class="py-2 text-secondary" href="#">hello@robowolf.net</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/jquery-3.3.1.slim.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/replacer.js"></script>
    </body>
</html>